

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  var(--background-color);
    color: #161316;
}
:root {
    --background-color: #D4C6BA;
    --arara-bg-color: hsl(0, 37%, 48%);
    --catuai-amarelo-bg-color: hsl(318, 48%, 42%);
    --bourbon-amarelo-bg-color: hsl(214, 49%, 42%);
    --catuai-785-bg-color: hsl(61, 49%, 42%);
    --catuai-62-bg-color: hsl(32, 49%, 42%);
    --catui-786-color: hsl(50, 49%, 42%);
    --catuai-amarelo-color: hsl(296, 49%, 42%);
    
    --arra-color: hsl(355, 49%, 42%); 
}
body {
    height: 100vh;
    width: 100vw;
}

img {
    display: block;
    max-width: 100%;
    height: 100%;
    border-radius: 6%;   
    object-fit: cover;
    transition: all .3s ease-in;
    box-shadow: 5px 5px 10px black;
}

.card {
    height: 30%;
    width: 100%;
    background-color: transparent;
    margin: 20% auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    
    
    }

.image {
    max-width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 6%;
    position: relative;
    transition: all .3s ease-in-out;
    background-color: var(--image-bg-color);
    margin: 15px;
    z-index: 0;
    
   
    }



img:hover {
    
    opacity: 0.2;   
    
}

   .legenda {
       opacity: 0;
       position: absolute;
       left: 100rem;
       top: 40%;
      
       max-width: 100%;
       max-height: 100%;
       pointer-events: none;
       
       background-color: transparent;
       transition: all .3s ease-in-out;
       height: 100%;
        color: rgb(207, 200, 200);

   }

.image:hover{
    transform: scale(1.1);
    box-shadow: 7px 7px 20px black;  
}
   

.image:hover .legenda {
    opacity: 1;
}

.image:hover img {
    filter: blur(2px);
}

.nome-cafe {
    font-family: Galada;
    color : white;
    width: 100%;
    margin: 0 auto;
    display: block;
    background-color: transparent;
}

.catuai-amarelo {
  color: var(--catuai-amarelo-color);  
}

.catuai-785 {
    color: var(--catui-786-color);
}

.arara-wraper {
    background-color: var(--arara-bg-color);
}

.catuai-amarelo-wraper {
    background-color: var(--catuai-amarelo-bg-color);
}

.catuai-785-wraper {
    background-color: var(--catuai-785-bg-color);
}

.catuai-62-wraper {
    background-color: var(--catuai-62-bg-color);
}

.arara {
    color: var(--arra-color);
}

.bourbon-amarelo-wraper {
    background-color: var(--bourbon-amarelo-bg-color);
}

/*#catuai-785 {
    color: #cebf19;
}



#bourbon-amarelo {
    color: #1e93db;
}

#catuai-62 {
    color: #c78029;
} */

strong {
    background-color: transparent;
}

.titulo {
    font-family: Galada;
    display: block;
    position: absolute;
    top : 50%;
    width: 100%;
    height: 50%;
    text-align: center;
    background-color: transparent;
    pointer-events: none;
    color: rgb(207, 200, 200);
    opacity: 0;
    transition: all .3s ease-in-out;
}


.image:hover .titulo {
    opacity: 1;
}